
body
{
    position: absolute;
    background-image: url("back-ground_cv.jpg") ;
    background-repeat: no-repeat ;
    width:100%;
    height:100%;
}
.titre
{
    position: absolute; 
    top:20px;
    left: 28% ;
    font-size:85px ;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 10px outset brown;
    border-radius: 10%;
}

.conteneurGauche
{
    position:absolute;
   left: 60px;
    font-family: Calibri, Georgia, Serif;
    padding: 0px 0px 0px 0px;
    opacity: 0.8;
    
}
.premierbloc
{
    background-color: azure;
    background-size: 50%;
    text-align: center;
    border: 10px groove black;
    width:60%;
    
}

.deuxiemebloc
{
    font-family: Calibri, Georgia, Serif;
    background-color: white;
    background-size: 6px, auto, contain; ;
    border: 10px groove black;
    width:60%;
    font-size: 20px;
    
  
}

.conteneurDroit
{
    position:absolute;
    left: 50%;
    font-family: Calibri, Georgia, Serif;
    padding: 0px 0px 0px 10px;
    border:solid black;
    box-shadow: 6px 6px 0px black;
    background-color: white;
    opacity: 0.8;
}

.loisir
{
    font-size: 40px;
}



#adrien
{
    width:  155px;
    height: 208px;
    position: relative;
    margin: 20px 0 20px 20px ;
    border-radius: 20px;
}

#hockey
{
    float:right;
    width:  250px;
    height: 250px;
    position: relative;
    margin: 20px 0 20px 20px ;
    border-radius: 20px;
    background-color: white;
}


a
{
    color:orange;
}
.facebook
{
    position: absolute;
    top: 750px;
    left:570px;
    font-size: 30px;
    text-align: center;
	text-decoration: none;
	background: #3B5998;
  	color: white;
}

#corps
{
    position:relative;
    width:100%;
    height:100%;
}


#essai
{
    display: none;
}


.bonneReponse
{
    position: absolute;
    top:800px;
    left:40%;
    display: inline;
}